:root {
  --primary-color: #282c34;
  --secondary-color: white
}

#root {
  background-color: var(--primary-color);
  min-height: 100vh;
}

main {
  color: var(--secondary-color);
  width: 600px;
  margin: 0 auto;
  padding-top: 10px; 
}

.levels ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.levels li {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: .6rem 1.2rem;
}

.levels li:hover {
  cursor: pointer;
  filter: brightness(75%);
}

.levels li.active {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.btns {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
